---
import Base from "./Base.astro";
import type { MarkdownLayoutProps } from "astro";
import type { FrontmatterType } from "../types";
type Props = MarkdownLayoutProps<FrontmatterType>;
const { title, date } = Astro.props.frontmatter;

function formatDate(date: string) {
  const d = new Date(date);
  return d.toLocaleDateString("fr-Fr", {
    year: "numeric",
    month: "long",
    day: "numeric",
  });
}
---

<Base title="Home">
  <h1>{title}</h1>
  <p>{formatDate(date)}</p>
  <div class="prose">
    <slot />
  </div>
</Base>
